.todo-box {
    background-color: rgb(13, 45, 35);
    max-width: fit-content;
    border-radius: 10px;
    margin: auto;
    padding: 12px;
}


.daily-task {
    margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: medium;
    color: rgb(219, 201, 201);
}

.del-button {
    float: right;
    margin-left: 5px;
}
.del-button:hover{
    cursor: pointer;
}
